.env
.envrc
.DS_STORE
!/.gitignore
*.egg-info
*.pyc
**/__pycache__/
*.rar
*.csv
*.zip
*.tar
*.gz
*.tgz
*.xlsx
*.mat
*.pdf
*.pickle
*.mat
*.ipynb
notebooks/*.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/notebooks/UT_Smoking_Data*
